.books-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  margin-top: 120px;
  padding: 20px;
}

.add-book-title {
  padding: 20px;
  padding-top: 0;
}

.book {
  width: 100%;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fff;
  border: 1px solid black;
}

.title-and-author {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.book-title {
  margin-right: 3px;
}

.book-author {
  margin-left: 3px;
}

.remove-book-button,
.add-book-button {
  padding: 5px 15px;
  box-shadow: 2px 2px #888;
  cursor: pointer;
  margin: 10px 0;
}

.book:nth-child(odd) {
  background-color: rgb(173, 170, 170);
}

.add-book-button {
  align-self: flex-end;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 24px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu-item {
  border-left: 2px solid black;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.display-none {
  display: none;
}

.menu-item:hover {
  color: blue;
  cursor: pointer;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
}

footer {
  padding: 24px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

footer div {
  border: 3px solid black;
  padding: 10px;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding-bottom: 60px;
}

.contact-section {
  display: flex;
}

.line {
  background-color: black;
  border: 1px solid black;
  width: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
  display: flex;
}

.no-books {
  color: red;
  margin-bottom: 5px;
  cursor: pointer;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  height: 100%;
}

.contact-section-list {
  margin-top: 10px;
  padding-left: 35px;
}

.books {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.input-title,
.input-author {
  padding: 3px;
  margin-bottom: 10px;
  border: 2px solid black;
  align-self: flex-end;
}
